<div class="row">
    <div class="col-md-10">
        <form (ngSubmit)="onAdd(f)" #f="ngForm">
            <div class="row">
                <div class="col-md-7 form-group">
                    <label for="name" >Name</label><br>
                    <input type="text" id="name" style="width: 100%;" class="form-group" name="name" ngModel required>
                </div>
                <div class="col-md-5 form-group">
                    <label for="amount">Amount</label><br>
                    <input type="number" id="amount" class="form-group" name="amount" ngModel required pattern="^[1-9]+[0-9]*$">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-success" type="submit" [disabled]="!f.valid">{{editMode ? 'Update' : 'Add'}}</button>
                    <button class="btn btn-danger" type="button" *ngIf="editMode" (click)="onDelete()">Delete</button>
                    <button class="btn btn-primary" type="button" (click)="onClear()">Clear</button>
                </div>
            </div>
        </form>
    </div>
</div>
