<div class="row">
    <div class="col-md-10">
        <form>
            <div class="row">
                <div class="col-md-7 form-group">
                    <label for="name" >Name</label><br>
                    <input type="text" id="name" style="width: 100%;" class="form-group" #nameInput>
                </div>
                <div class="col-md-5 form-group">
                    <label for="amount">Amount</label><br>
                    <input type="number" id="amount" class="form-group" #amountInput>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-success" type="submit" (click)="onAdd()">Add</button>
                    <button class="btn btn-danger" type="button">Delete</button>
                    <button class="btn btn-primary" type="button">Clear</button>
                </div>
            </div>
        </form>
    </div>
</div>
